/*** FONTS ***/
@font-face {
  font-family: 'gt_walsheim_pro_trialmedium';
  src: url('../fonts/gt-walsheim-pro-trial-medium-webfont.woff2') format('woff2'),
        url('../fonts/gt-walsheim-pro-trial-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt_walsheim_pro_triallight';
  src: url('../fonts/gt-walsheim-pro-trial-light-webfont.woff2') format('woff2'),
        url('../fonts/gt-walsheim-pro-trial-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt_walsheim_pro_trialthin';
  src: url('../fonts/gt-walsheim-pro-trial-thin-webfont.woff2') format('woff2'),
        url('../fonts/gt-walsheim-pro-trial-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt_walsheim_pro_trialMdOb';
  src: url('../fonts/gt-walsheim-pro-trial-medium-oblique-webfont.woff2') format('woff2'),
        url('../fonts/gt-walsheim-pro-trial-medium-oblique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gt_walsheim_pro_trialbold';
  src: url('../fonts/gt-walsheim-pro-trial-bold-webfont.woff2') format('woff2'),
      url('../fonts/gt-walsheim-pro-trial-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*** GENERAL ***/
html, body {
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'gt_walsheim_pro_triallight' !important;
  background-color: rgba(166, 188, 189, 0.55) !important;
}

a {
  color: #00B7FF;
}

/*** HOME PAGE ***/
#main-heading {
  font-family: 'gt_walsheim_pro_trialmedium';
  font-size: 100px;
  color: white;
}

/****** Rep SHOW *********/
.success-tick {
  background-color: green;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  padding: 10px;
}

.no-success {
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  padding: 10px;
}

.no-success-text {
  color: white;
  font-size: 15px;
}

/*.error-message {
  margin-top: 20px;
  height: 90px;
  border: 2px solid #B0171F;
  border-radius: 15px;
}*/

form.rating {
  text-align: center;
  margin-top: 20px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.difficulty-label {
  margin: 20px;
  font-size: 18px;
}

.users-header {
  font-family: 'gt_walsheim_pro_trialMdOb';
  color: white;
}

h3.settings-heading {
  font-family: 'gt_walsheim_pro_trialbold';
}

h3.settings-heading.experience {
  margin-bottom: 28px;
}

.selected-difficulty {
  color: #466790;
  font-size: 25px !important;
}

.selected-language img {
  opacity: 0.9 !important;
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%);
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.language-div {
  display: inline-block;
  width: 100px;
  margin: 28px;
}

.language-div label {
  font-size: 20px;
}

/*** USERS *****/
button.github-auth {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-top: 20px;
}

.experience-label {
  margin: 30px;
  font-size: 18px;
}

img.language-logo {
  height: 80px;
  width: 80px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  margin-top: 10px;
}

#user-panel {
  height: 100%;
}

#rep-view {
  padding: 30px;
}

#main-panel {
  position: relative;
  background-color: #312D2D;
  color: white;
  padding: 10px;
  height: 100vh;
  width: 92%;
  float: left;
  display: inline;
}

#main-panel h4 {
  color: #CEDADA;
  margin-left: 15px;
  display: inline;
}

#user-footer {
  position: absolute;
  bottom: 0;
  margin: 20px;
}

#user-footer a {
  color: white;
}

#side-panel {
  background-color: #312D2D;
  color: #736D6D;
  padding: 20px 5px;
  height: 100vh;
  width: 8%;
  display: inline;
  float: right;
  border-left: 1px solid rgba(240, 248, 255, 0.06);
}

.toggle-settings {
  float: right;
}

#user-settings {
  display: none;
  background-color: beige;
  color: black;
  padding: 15px 0;
  margin-top: 10px;
}

#user-settings hr {
  border-color: #312D2D;
}

.logo-header {
  font-family: 'gt_walsheim_pro_trialbold';
  font-size: 20px;
  color: white;
  margin: -10px 0 50px 10px;
}

.panel-heading {
  font-family: 'gt_walsheim_pro_trialMdOb';
  font-size: 20px;
}

.settings-heading {
  font-family: 'gt_walsheim_pro_trialmedium';
  font-size: 15px;
}

.stats-heading {
  font-family: 'gt_walsheim_pro_trialmedium';
  font-size: 15px;
  padding: 10px 5px 10px 5px;
  border-bottom: 1px solid white;
}

.stats-value {
  padding: 10px;
}

.stats-container {
  display: inline-block;
  border: 1px solid white;
  width: 40%;
  margin: 10px;
}

.name-header {
  margin-top: 10px;
}

hr {
  margin-top: 10px !important;
  margin-bottom: 15px !important;
}

.fa-github {
  font-size: 20px !important;
}

#test-results {
  display: none;
}

.see-results {
  text-align: right;
}
