/*** FONTS ***/
@font-face {
  font-family: 'gt_walsheim_pro_trialmedium';
  src: url('../fonts/gt-walsheim-pro-trial-medium-webfont.woff2') format('woff2'),
        url('../fonts/gt-walsheim-pro-trial-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt_walsheim_pro_triallight';
  src: url('../fonts/gt-walsheim-pro-trial-light-webfont.woff2') format('woff2'),
        url('../fonts/gt-walsheim-pro-trial-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt_walsheim_pro_trialthin';
  src: url('../fonts/gt-walsheim-pro-trial-thin-webfont.woff2') format('woff2'),
        url('../fonts/gt-walsheim-pro-trial-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt_walsheim_pro_trialMdOb';
  src: url('../fonts/gt-walsheim-pro-trial-medium-oblique-webfont.woff2') format('woff2'),
        url('../fonts/gt-walsheim-pro-trial-medium-oblique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gt_walsheim_pro_trialbold';
  src: url('../fonts/gt-walsheim-pro-trial-bold-webfont.woff2') format('woff2'),
      url('../fonts/gt-walsheim-pro-trial-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*** GENERAL ***/
body {
  font-family: 'gt_walsheim_pro_triallight' !important;
  background-color: rgba(166, 188, 189, 0.55) !important;
}

.main-body {
  margin-top: 20px;
}

a {
  color: #00B7FF;
}

.logo-header {
  font-family: 'gt_walsheim_pro_trialbold';
  font-size: 20px;
  color: white;
  margin: -10px 0 40px 10px;
}

.logo-header a,
.logo-header a:visited,
.logo-header a:hover,
.logo-header a:active {
  color: white;
  text-decoration: none;
}

#error-status {
  text-align: center;
  font-size: 200px;
  color: #445c5c;
}

#error-message {
  font-size: 20px;
}

a.redirect-settings {
  color: white;
}

/*** HOME PAGE ***/
.index-page {
  margin: 50px;
  height: 100vh;
}

#main-heading {
  font-family: 'gt_walsheim_pro_trialmedium';
  font-size: 150px;
  color: white;
}

#main-heading i {
  font-size: 100px;
  color: #5A7373;
}

.intro-text {
  font-family: 'gt_walsheim_pro_trialthin';
  font-size: 40px;
  color: #5A7373;
}


.down-arrow {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 50px auto;
}

.down-arrow i {
  font-size: 40px;
  line-height: 50px;
  color: white;
}

#about {
  background-color: rgba(173, 196, 197, 0.84);
  height: 100vh;
  padding-top: 50px;
}

.single-slide {
  height: 600px;
  text-align: center;
}

.single-slide h2 {
  font-family: 'gt_walsheim_pro_trialbold';
  color: #5A7373;
}

.single-slide p {
  font-size: 25px;
  color: white;
}

#about img {
  height: auto;
  width: 800px;
}

.carousel-control {
  opacity: 0.01 !important;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none !important;
}

/****** REPS *********/
.success-tick {
  background-color: green;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  padding: 10px;
}

.no-success {
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  padding: 10px;
}

.no-success-text {
  color: white;
  font-size: 15px;
}

form.rating {
  text-align: center;
  margin-top: 20px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.difficulty-label {
  margin: 20px;
  font-size: 18px;
}

.rate-header {
  font-family: 'gt_walsheim_pro_triallight';
  color: white;
  font-size: 20px;
}

/*** USERS ***/
.users-header {
  font-family: 'gt_walsheim_pro_trialMdOb';
  color: white;
}

.start-header {
  font-family: 'gt_walsheim_pro_trialMdOb';
  color: #5A7373;
}

h3.settings-heading {
  font-family: 'gt_walsheim_pro_trialbold';
}

h3.settings-heading.experience {
  margin-bottom: 28px;
}

.selected-difficulty {
  color: #5A7373;
  font-size: 25px !important;
}

.selected-language {
  color: black;
}

.selected-language img {
  opacity: 0.9 !important;
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%);
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.language-div {
  display: inline-block;
  width: 100px;
  margin: 28px;
}

.language-div label {
  font-size: 20px;
}

button.github-auth {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-top: 20px;
}

.experience-label {
  margin: 30px;
  font-size: 18px;
}

img.language-logo {
  height: 80px;
  width: 80px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  margin-top: 10px;
}


#rep-view {
  padding: 30px;
}

.toggle-settings {
  float: right;
}

#signup-form,
#login-form {
  background-color: white;
  margin-bottom: 200px;
  padding-bottom: 50px;
}

#signup-form .users-header {
  border-bottom: 1px solid #cedada;
}

#signup-form .users-header,
#login-form .users-header {
  font-size: 25px;
  padding: 10px;
  color: #445c5c;
}

#signup-form .form-control,
#login-form .form-control {
  border: 1px solid #cedada;
}

#user-settings {
  display: none;
  background-color: #EFEFEF;
  color: black;
  padding: 15px 0;
  margin-top: 10px;
}

#user-settings hr {
  border-color: #312D2D;
}

.notification {
  display: none;
  background-color: #151560;
  color: white;
  border-radius: 5px;
  width: 250px;
  font-size: 12px;
  padding: 5px 0;
}

.notification-heading {
  text-transform: uppercase;
}

.notification .fa-exclamation-circle {
  font-size: 20px;
}

/*** USERS - GET STARTED ***/
.well {
  padding: 10px 20px 40px 20px !important;
}

.challenge-pack {
  min-width: 100%;
  margin-bottom: -10px;
}

.challenge-pack .well {
  padding-bottom: 20px !important;
}

.challenge-pack h3 {
  font-family: 'gt_walsheim_pro_trialmedium';
}

.pack-label {
  font-family: 'gt_walsheim_pro_trialmedium';
}

#get-started h4,
#choose-pack h4 {
  font-family: 'gt_walsheim_pro_trialmedium';
  line-height: 25px;
}

#get-started {
  padding: 8% 0 15% 0;
  height: 100%;
}

#get-started .choose-pack-text {
  color: white;
}

#choose-pack {
  border-left: 1px solid white;
  margin-bottom: 40px;
}

#choose-pack button {
  padding: 5px 10px;
  font-size: 15px;
}

/*** USERS - PANEL ***/
#user-panel {
  height: 100%;
}

#main-panel {
  position: relative;
  background-color: #312D2D;
  color: white;
  padding: 10px;
  height: 100vh;
  width: 92%;
  float: left;
  display: inline;
}

#main-panel h4 {
  color: #CEDADA;
  margin-left: 15px;
  display: inline;
}

#user-footer {
  position: absolute;
  bottom: 0;
  margin: 20px;
}

#user-footer a {
  color: white;
}

#side-panel {
  background-color: #312D2D;
  color: #736D6D;
  padding: 20px 5px;
  height: 100vh;
  width: 8%;
  display: inline;
  float: right;
  border-left: 1px solid rgba(240, 248, 255, 0.06);
}

#admin-links {
  margin-top: 50px;
}

#admin-links h4 {
  text-transform: uppercase;
  font-size: 14px;
  text-align: right;
}

.admin-link {
  border-top: 1px solid white;
  padding: 10px;
}

.admin-link a,
.admin-link a:visited {
  color: white;
  text-decoration: none;
}

.admin-link a:hover,
.admin-link a:active {
  color: #A6BCBD;
  text-decoration: none;
}

.panel-heading {
  font-family: 'gt_walsheim_pro_trialMdOb';
  font-size: 20px;
}

.settings-heading {
  font-family: 'gt_walsheim_pro_trialmedium';
  font-size: 15px;
}

.stats-heading {
  font-family: 'gt_walsheim_pro_trialmedium';
  font-size: 15px;
  padding: 10px 5px 10px 5px;
  border-bottom: 1px solid white;
}

.stats-value {
  padding: 10px;
}

.stats-container {
  display: inline-block;
  border: 1px solid white;
  width: 40%;
  margin: 10px;
}

.name-header {
  margin-top: 10px;
}

hr {
  margin-top: 10px !important;
  margin-bottom: 15px !important;
}

.fa-github {
  font-size: 20px !important;
}

#test-results {
  display: none;
}

.see-results {
  text-align: right;
}

.add-challenge {
  float: right;
  margin-bottom: 10px;
}
