extends layout

block content
  div.text-center
    h1#error-status= status
    p#error-message Oops, it looks like something went wrong!
      br
      | We have been informed of the issue.

    a(href="/users/settings").redirect-settings Return to Settings
