doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
    script(type='text/javascript', src='/javascripts/codemirror-compressed.js')
  body
    a(href="/challenges/new") New Challenge
    span  |
    a(href="/challenges/")  All Challenges
    span  |
    a(href="/snippets/new")  New Snippet
    span  |
    a(href="/snippets/")  Snippets
    br

    hr
    block content
