doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
    script(type='text/javascript', src='/javascripts/codemirror-compressed.js')

    //- link(rel='stylesheet', type="text/css", href="https://cdn.rawgit.com/codemirror/CodeMirror/master/lib/codemirror.css")
    //- script(type='text/javascript' src="https://cdn.rawgit.com/codemirror/CodeMirror/master/lib/codemirror.js")
    script(type='text/javascript' src="https://cdn.rawgit.com/codemirror/CodeMirror/master/mode/xml/xml.js")
  body
    a(href="/prompts/new") New Prompt
    span  |
    a(href="/prompts/")  All Prompts
    span  |
    a(href="/entries/new")  New Entry
    span  |
    a(href="/entries/")  Entries
    br

    hr
    block content
