extends ../layout

block content
  h3  Create a Prompt
  br
  .col-md-6
    form.form-horizontal(action='/prompts' method='post')
      .form-group
        label(for='prompt') Prompt
        textarea#prompt.form-control(name='prompt')
      .form-group
        label(for='category') Category
        input#prompt-category.form-control(type='text' name='category')
      .form-group
        input(type='submit' value='Create Prompt' class='btn btn-default')
