extends ../layout

block content
  section
    each entry in entries
      div.well
        p
          | Category: 
          i=  entry._prompt.category
          br
          b= entry._prompt.prompt
        p= entry.body
