/*** FONTS ***/
@font-face {
  font-family: 'gt_walsheim_pro_trialmedium';
  src: url('../fonts/gt-walsheim-pro-trial-medium-webfont.woff2') format('woff2'),
        url('../fonts/gt-walsheim-pro-trial-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt_walsheim_pro_triallight';
  src: url('../fonts/gt-walsheim-pro-trial-light-webfont.woff2') format('woff2'),
        url('../fonts/gt-walsheim-pro-trial-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt_walsheim_pro_trialthin';
  src: url('../fonts/gt-walsheim-pro-trial-thin-webfont.woff2') format('woff2'),
        url('../fonts/gt-walsheim-pro-trial-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt_walsheim_pro_trialMdOb';
  src: url('../fonts/gt-walsheim-pro-trial-medium-oblique-webfont.woff2') format('woff2'),
        url('../fonts/gt-walsheim-pro-trial-medium-oblique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gt_walsheim_pro_trialbold';
  src: url('../fonts/gt-walsheim-pro-trial-bold-webfont.woff2') format('woff2'),
      url('../fonts/gt-walsheim-pro-trial-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*** GENERAL ***/
body {
  padding: 50px;
  font-family: 'gt_walsheim_pro_triallight' !important;
  background-color: rgba(166, 188, 189, 0.55) !important;
}

a {
  color: #00B7FF;
}

/*** HOME PAGE ***/
#main-heading {
  font-family: 'gt_walsheim_pro_trialmedium';
  font-size: 100px;
  color: white;
}

/****** Rep SHOW *********/
.success-tick {
  background-color: green;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  padding: 10px;
}

.no-success {
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  padding: 10px;
}

.no-success-text {
  color: white;
  font-size: 15px;
}

/*.error-message {
  margin-top: 20px;
  height: 90px;
  border: 2px solid #B0171F;
  border-radius: 15px;
}*/

form.rating {
  text-align: center;
  margin-top: 20px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.difficulty-label {
  margin: 20px;
  font-size: 18px;
}

.settings-header {
  font-family: 'gt_walsheim_pro_trialMdOb';
  color: white;
}

h3.settings-heading {
  font-family: 'gt_walsheim_pro_trialbold';
}

h3.settings-heading.experience {
  margin-bottom: 28px;
}

.selected-difficulty {
  color: #466790;
  font-size: 25px !important;
}

.selected-language img {
  opacity: 0.9 !important;
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%);
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.language-div {
  display: inline-block;
  width: 100px;
  margin: 28px;
}

.language-div label {
  font-size: 20px;
}

/*** USERS *****/
button.github-auth {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-top: 20px;
}

.experience-label {
  margin: 30px;
  font-size: 18px;
}

img.language-logo {
  height: 80px;
  width: 80px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  margin-top: 10px;
}
