extends ../layout

block content
  h3.text-center= challenge.description
  .col-md-6.col-md-offset-3
    form.form-horizontal(action='/reps' method='post')
      .form-group
        input(type='hidden', name='challengeId', value=challenge.challengeId)
      .form-group
        textarea#editor.form-control(name='input')=challenge.prefill
      .form-group
        input(type='submit' value='Submit Code' class='btn btn-default')

  script(type='text/javascript').
    var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
      lineNumbers: true,
      theme: 'base16-dark'
    });
