extends ../layout

block content
  .col-md-6.col-md-offset-3
    h3.users-header.text-center
      i.fa.fa-th-large(aria-hidden="true")
      | &nbsp;&nbsp;Create a Challenge
    br
    form.form-horizontal(action='/challenges' method='post')
      .form-group
        label(for='language') Challenge Pack
        select.form-control(name='pack')
          for pack in packs
            option(value=pack.name)= pack.name
      .form-group
        label(for='language') Language
        select.form-control(name='language')
          option(value='Javascript') Javascript
          option(value='Ruby') Ruby
      .form-group
        label(for='level') Level
        select.form-control(name='level')
          option(value='Beginner') Beginner
          option(value='Intermediate') Intermediate
      .form-group
        label(for='description') Description
        textarea.form-control(name='description' placeholder='Write a function that returns the number of characters in the given string.')
      .form-group
        label(for='prefill') Prefill
        textarea.form-control(name='prefill' placeholder='var characterCount = function(string) {\r\n  // Enter your code here\r\n}' rows='4')
      .form-group
        label(for='test') Test
        textarea#editor.form-control(name='test' rows='6' placeholder='// Tests written in Jasmine\n\ndescribe(\"String - Hello World\", function() {\r\n  it(\"has 11 characters\", function() {\r\n    expect(characterCount(\"Hello World\")).toEqual(11);\r\n  });\r\n});')
      .form-group.text-center
        input.btn.btn-default(type='submit' value='Create Challenge')

  script(type='text/javascript').
    var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
      lineNumbers: true
    });
