extends ../layout

block content
  .col-md-6.col-md-offset-3
    h3.users-header.text-center  Create a Challenge
    br
    form.form-horizontal(action='/challenges' method='post')
      .form-group
        label(for='language') Challenge Pack
        select.form-control(name='pack')
          for pack in packs
            option(value=pack.name)= pack.name
      .form-group
        label(for='language') Language
        select.form-control(name='language')
          option(value='Javascript') Javascript
          option(value='Ruby') Ruby
      .form-group
        label(for='level') Level
        select.form-control(name='level')
          option(value='Beginner') Beginner
          option(value='Intermediate') Intermediate
      .form-group
        label(for='description') Description
        textarea.form-control(name='description')
      .form-group
        label(for='prefill') Prefill
        textarea.form-control(name='prefill')
      .form-group
        label(for='test') Test
        textarea#editor.form-control(name='test')
      .form-group.text-center
        input.btn.btn-default(type='submit' value='Create Challenge')

  script(type='text/javascript').
    var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
      lineNumbers: true
    });
