extends ../layout

block content
  h3  Create a Challenge
  br
  .col-md-6
    form.form-horizontal(action='/challenges' method='post')
      .form-group
        label(for='language') Language
        select.form-control(name='language')
          option(value='JavaScript') JavaScript
          option(value='Ruby') Ruby
      .form-group
        label(for='level') Level
        select.form-control(name='level')
          option(value='Beginner') Beginner
          option(value='Intermediate') Intermediate
      .form-group
        label(for='challenge') Challenge
        textarea.form-control(name='challenge')
      .form-group
        label(for='solution') Solution
        textarea#editor.form-control(name='solution')
      .form-group
        input(type='submit' value='Create Challenge' class='btn btn-default')

  script(type='text/javascript').
    var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
      lineNumbers: true 
    });
