extends ../layout

block content
  .row.account-wall
    .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      form(action='/users/login', method='post')
        input(type='text', name='username' class='form-control', placeholder='Username', required, autofocus)
        input(type='password', name='password' class='form-control', placeholder='Password', required)
        button(class='btn btn-lg btn-primary btn-block', type='submit') Log In
    .row
      .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        a(href="/auth/github")
          button.btn.btn-default.github-auth Log in with Github

    .row
      .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        h4.text-center Don't have an account yet?
          a(href='/users/signup')  Sign Up

      if message
        h1.text-center.error-message= message
