extends ../layout

block content
  .row
    #login-form.col-sm-4.col-sm-offset-4
      h1.users-header.text-center Log In
      .row
        .col-sm-12.col-md-12
          form(action='/users/login', method='post')
            input(type='text', name='username' class='form-control', placeholder='Username', required, autofocus)
            input(type='password', name='password' class='form-control', placeholder='Password', required)
            button(class='btn btn-lg btn-primary btn-block', type='submit') Log In
      .row
        .col-sm-12.col-md-12
          a(href="/auth/github")
            button.btn.btn-default.github-auth
              i.fa.fa-github(aria-hidden="true")
              |     Log In with Github
      .row
        .col-sm-12.col-md-12
          h4.text-center If you don't have an account yet,
            a(href='/users/signup')  Sign Up

  if message
    h1.text-center.error-message= message
