extends ../layout

block content
  .row
    .col-md-6.col-md-offset-3
      h1.users-header.text-center
        i.fa.fa-file-code-o(aria-hidden="true")
        |  Challenge Packs
      each pack in packs
        div.well
          h3= pack.name
          .row
            .col-md-3.col-sm-2
              b Language
            .col-md-4.col-sm-4
              span= pack.language
          .row
            .col-md-3.col-sm-2
              b Level
            .col-md-4.col-sm-4
              span= pack.level
          .row
            .col-md-3.col-sm-2
              b No. of Challenges
            .col-md-4.col-sm-4
              span= pack.challenges.length
          a.add-challenge(href="/challenges/new")
            button.btn.btn-default
              i.fa.fa-plus-square(aria-hidden="true")
              | &nbsp; Add Challenge
          a.add-challenge(href="/packs/" + pack.packId)
            button.btn.btn-default
              i.fa.fa-search(aria-hidden="true")
              | &nbsp;See Challenges
